@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
}

#main::-webkit-scrollbar {
  display: none;
}
/* html,
body {
  height: 100%;
  width: 100%;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
} */

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

@keyframes bouncing {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.3, 1.2);
  }
  75% {
    transform: scale(1.1, 1.1);
  }
}

#navbardiv {
  height: 20vh;
  width: 100%;
  position: absolute;
  padding: 50px;
}
nav {
  height: 15vh;
  width: 90%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

#navbardiv > nav > img {
  height: 110px;
  width: 110px;
  margin-left: 2vw;
  display: flex;
  align-items: center;
  transition: all ease-in 0.2s;
}
#navbardiv > nav > img:hover {
  animation: bouncing ease-in 0.5s; /* Apply animation */
}

#overlay-button {
  position: absolute;
  right: 10em;
  top: 2.5em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  span {
    height: 4px;
    width: 55px;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
    &:before {
      top: -10px;
      visibility: visible;
    }
    &:after {
      top: 10px;
    }
    &:before,
    &:after {
      height: 4px;
      width: 55px;
      border-radius: 2px;
      background-color: black;
      position: absolute;
      content: "";
      transition: all 0.2s ease-in-out;
    }
  }
  &:hover span,
  &:hover span:before,
  &:hover span:after {
    background: #ffffff;
  }
}

input[type="checkbox"] {
  display: none;

  &:checked ~ #overlay {
    visibility: visible;
  }

  &:checked ~ #overlay-button {
    &:hover span,
    span {
      background: transparent;
    }
    span {
      &:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }
      &:after {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(19, 27, 43, 0.33);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  z-index: 2;
  visibility: hidden;
  position: fixed;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;

    li {
      padding: 1em;
      a {
        color: white;
        text-decoration: none;
        font-size: 3.5em;

        opacity: 0.8;

        &:hover {
          opacity: 1;
          color: burlywood;
          /* font-size: 4.5vw; */
          transition: all ease 0.5s;
        }
      }
    }
  }
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}

#page1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire div */
  z-index: -1; /* Place the video behind other content */
}

#page1 > #flower {
  position: absolute;
  bottom: -15%;
  right: -12%;
  transform: translate(0%, 10%);
  height: 45vw;
  width: 45vw;
}

#page1 > h1 {
  position: absolute;
  top: 40%;
  left: 5%;
  font-family: "Roboto", sans-serif;
  font-size: 9vw;
  color: white;
  letter-spacing: -10px;
}
#page1 a {
  font-size: 7vw;
  font-family: "Roboto", sans-serif;
}

#page1 > h2 {
  position: absolute;
  top: 62%;
  left: 5%;
  font-size: 9vw;
  color: white;
  letter-spacing: -10px;
  font-family: "Roboto", sans-serif;
}

#page2 {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* scroll-snap-align: start; */
}

#page2 img {
  height: 100%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}

#flw {
  opacity: 0;

  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 5px;
}

#info_card:hover #flw {
  opacity: 1;
  cursor: pointer;
  margin-top: 5vh;

  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(1.1);
  border-radius: 5px;
}

#info_card {
  height: 20vh;
  width: 20vw;
  position: absolute;
  bottom: 15%;
  right: 5%;
  padding: 5vh 2vw;
  color: rgb(255, 255, 255);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all ease 0.5s;
}

#info_card:hover {
  height: 70vh;
  width: 22vw;
  position: absolute;
  bottom: 15%;
  right: 5%;
  opacity: 1;
  padding: 2vh 2vw;
  color: white;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all ease 0.5s;
}

#page3 {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden; /* Add this line to prevent horizontal scrolling */
  padding: 3vh 5vw;
  display: flex;
  justify-content: center; /* Horizontally center the elements */
  align-items: center; /* Vertically center the elements */
  background: black;
  /* background-image: url("https://static3.bigstockphoto.com/3/2/4/large1500/423509408.jpg"); */
}
#page3 {
  filter: blur(0px);
}

#page3::-webkit-scrollbar {
  display: none;
}

#page3 .bg_img {
  height: 100%;
  width: 100vw;
  border-radius: 10px;
  object-fit: cover;
  background-image: url(Assets/bowl\ bg.png);
  background-size: cover;
  background-position: center;
}

#page3 .img_top {
  height: 100%;
  width: 35vw;
  object-fit: cover;
  border-radius: 10px;
  background-image: url(Assets/bowl\ fill\ bg.png);
  background-size: 100vw;
  background-position: left;
  border-right: 5px solid rgb(255, 238, 47);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

#page3 h1 {
  color: rgb(255, 255, 255);
  font-size: 5vw;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: gilroy;

  padding: 3vh 3vw;
  background: rgba(0, 0, 0, 0.332);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all ease 0.5s;
}

#page4 {
  background: url("Assets/japanbg2.jpg") no-repeat center center;
  background-color: black;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  scroll-snap-align: start;
  width: 100vw;
  height: 190vh;
  display: flex;
  flex-direction: column; /* Change from grid to column flexbox */
  align-items: center;
  justify-content: flex-start; /* Align items to the start (top) */
  transition: 0.5s ease-in-out;
  padding: 0vh 1vw;
  overflow-x: hidden;
}
#page4::-webkit-scrollbar {
  display: none;
}

/* .cursor {
  width: 95px;
  height: 95px;
  opacity: 0.7;
  background-color: #ffffff;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10000;
  mix-blend-mode: difference;
  transition: transform 0.1s ease;
} */

.header-container {
  width: 100%; /* Full width for the header */
  text-align: center; /* Center the text */
  margin-top: -22vh; /* Add some margin at the top */
}

.head_div h1 {
  font-size: 8.5vw;
  font-weight: 900;
  font-family: gilroy;
  display: inline-block;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
  -webkit-text-stroke: 2px #fbfbfb; /* Stroke width and color */
}

.clipped-text {
  font-size: 100px; /* Adjust the font size as needed */
  font-weight: bold; /* Makes the text bold */
  background: url(https://images.squarespace-cdn.com/content/v1/64e72ec2e80b3f30e3082514/e867a130-fdc0-4ead-9b57-c8ae8e329bc9/Vegetables+BG+Insights.jpg)
    no-repeat center center; /* Adds the background image */
  -webkit-background-clip: text; /* Clips the background to the text */
  color: transparent; /* Makes the text color transparent */
  background-size: cover; /* Ensures the image covers the entire text */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5vw; /* Adjust gap between cards as needed */
  width: 100%;
  align-items: center;
  justify-items: center;
}

.card {
  margin: 2vh 2vw;
  width: 420px;
  height: 280px;
  border-radius: 12px;
  transform-style: preserve-3d;
  position: relative;
  background: rgba(255, 255, 255, 0.55);
}

.card.blue {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.55));
}
.card.purple {
  background: linear-gradient(135deg, #5911f2, #290987);
}

.product #mirchi,
#chutney,
#idlichutney,
#taak {
  transition: all ease 0.5s;

  z-index: 0; /* Set a lower z-index than the image */
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Ensure it can be positioned correctly */
  top: 90%; /* Adjust the position as needed */
  left: 0%; /* Adjust the position as needed */
}

.product #leaf {
  display: none;
  z-index: 0; /* Set a lower z-index than the image */
  width: 180px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Ensure it can be positioned correctly */
  top: 10%; /* Adjust the position as needed */
  left: 90%; /* Adjust the position as needed */
}
.card .product {
  height: 85%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
}
.product .number {
  font-size: 80px;
  line-height: 80px;
  font-style: italic;
  opacity: 0.25;
}
.product .sneakers {
  font-size: 35px;
  line-height: 35px;
  font-style: italic;
  font-weight: 500;
  opacity: 0.7;
}
.product img {
  z-index: 1;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-35%, -45%, 0);
  pointer-events: none;
}
.product .price {
  background: rgba(255, 255, 255, 0.15);
  margin-top: auto;
  margin-left: auto;
  font-size: 2vw;
  margin-right: -20px;
  padding: 5px 20px;
  border-radius: 99px 0 0 99px;
}

.card .title {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 12px 12px;
  transform-style: preserve-3d;
}

.card.blue .title {
  background: #e6a707c3;
}

.card.purple .title {
  background: #5b1ae3;
}

.card:hover .product img {
  transform: translate3d(-50%, -40%, 200px);
}
.card:hover .product .number {
  transform: translateZ(40px);
  transform: translate3d(15%, -10%, 10px);

  opacity: 1;
}
.card:hover .product .sneakers {
  transform: translateZ(40px);
  opacity: 0.85;
  font-size: 4em; /* Adjust the size as needed */
  font-weight: bold;
  color: #ffffff; /* Base text color */
  text-shadow: 1px 1px 0 #000, /* Layer 1 */ 2px 2px 0 #000,
    /* Layer 2 */ 3px 3px 0 #000, /* Layer 3 */ 4px 4px 0 #000,
    /* Layer 4 */ 5px 5px 0 #000, /* Layer 5 */ 6px 6px 0 #000,
    /* Layer 6 */ 7px 7px 0 #000, /* Layer 7 */ 8px 8px 0 #000,
    /* Layer 8 */ 9px 9px 0 #000, /* Layer 9 */ 10px 10px 0 #000;
}
.card:hover .product .price {
  transform: translateZ(20px);
}
.card:hover .title h2 {
  transform: translateZ(20px);
}

.card:hover .product #mirchi {
  transition: all ease 0.5s;
  display: block;
  z-index: 0; /* Set a lower z-index than the image */
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Ensure it can be positioned correctly */
  top: 90%; /* Adjust the position as needed */
  left: 15%; /* Adjust the position as needed */
}

#page5 {
  height: 100vh;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
  transition: all ease 0.5s ease-in;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
  border-radius: 10px;
}

.container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("Assets/wall.png") no-repeat center;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}
.contact-box {
  overflow: hidden;
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.left {
  background: url("Assets/wall.png") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

/* h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
} */

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  border-radius: 5px;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #27ae60;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

#search img {
  width: 50vh;
  height: 60vh;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pageLoveItems {
  height: 100vh;
  width: 100%;
  color: white;
}

#pageLoveItems h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 5vw;

  font-weight: 600;
}

.cotainer_item {
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  overflow: hidden;
}

#pageLoveItems .cotainer_item h1 {
  position: absolute;
  font-size: 1vw;
  top: 32%;
  left: 48%;
  z-index: 50;
  color: rgb(0, 0, 0);
}

.items {
  position: relative;
  height: 150vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
}

.cotainer_item video {
  position: absolute;
  height: 37%;
  width: 12%;
  z-index: 9;
  top: 37%;
  object-fit: cover;
  transform: scaleX(1.3);
  overflow: hidden;
}

.items img {
  height: 100%;
  width: 100%;
  transform: scaleX(1.3);
  overflow: hidden;
}

.items i {
  color: rgb(255, 255, 255);
  font-size: 5vw;
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1.2s;
}

/* #instaStory{
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

#story_div{
  height: 90vh;
  width: 35vw;
  position: relative;
  border-radius: 15px;
  border: 3px soild wheat;
  background-color: white;
}


#storiyan{
  height: 30vh;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #dadada;
  padding: 5vh;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#storiyan::-webkit-scrollbar{
  display: none;
}

.story{
  height: 20vh;
  width: 20vh;
  position: relative;
  border-radius: 50%;
  border: 3px solid orangered;
  overflow: hidden;
  display: inline-block;
}


#fullScreen{
  position: absolute;
  overflow: hidden;
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  z-index: 1;
  display: none;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1)1.2s;

}
.story img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
 padding: 1px;
  background: linear-gradient(yellow,orange, rgb(167, 94, 106), red, rgb(166, 0, 255));
  object-fit: cover;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1)1.2s;

  
} */

@media (max_width: 500px) {
  #main {
    width: 100%;
    overflow-y: hidden;
  }

  #main::-webkit-scrollbar {
    display: none;
  }

  .navbardiv {
    height: 2vh;
    width: 100%;
    position: absolute;
  }

  #page1 {
    width: 100%;
    overflow-x: hidden;
  }

  #overlay {
    height: 100vh;
    width: 100vw;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(19, 27, 43, 0.33);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    z-index: 2;
    visibility: hidden;
    position: fixed;
    &.active {
      visibility: visible;
    }
  }
}
